* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Crimson Text", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

i {
  margin: 0px 5px;
  font-size: 13px;
}

a{
  text-decoration: none;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #222222;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navDashboardUrl {
  font-size: 17px;
  text-align: center;
  width: 90%;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.navDashboardUrl.active {
  background-color: white;
  color: black;
  font-weight: 700;
}

.navDashboardUrl:hover:not(.active) {
  background-color: #555;
  color: white;
}

.manageDropdown {
  display: none;
  /* Hide the dropdown by default */
  background-color: #222222;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Optional: Add shadow for better visibility */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Transition for smooth effect */
}

.manageDropdown.show {
  border:2px solid grey;
  display: block;
  /* Show the dropdown */
  opacity: 1;
  transform: translateY(0);
}


.manageDropdown a {
  border-bottom: 2px solid grey;
  text-align: end;
  width: 100%;
  display: block;
  /* Make each link a block element */
  padding: 10px;
  padding-right: 20px;
  text-decoration: none;
  /* Remove underline from links */
  color: white;
  /* Set link color */
}

.manageDropdown a:hover {
  background-color: #f1f1f1;
  /* Optional: Add a hover effect */
}


.logo {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
}

.manageDropdown {
  width: 80%;
}

.side_bar_login_info {
  padding: 20px;
  width: 100%;
  text-align: center;
  border-top: 2px solid white;
  color: white;
  font-size: 17px;
  letter-spacing: 1.1px;
  line-height: 1.5em;
}

.dashboard_container {
  margin-left: 200px;
  height: 1000px;
}

.title  {
  font-size: 25px;
  width: 100%;
  background-color: white;
  padding: 10px 30px;
  margin: 5px 0px 3px 0px;
}
.title  h2{
  text-align: left;
}

.dashboard-header {
  background-color: #d3d3d3;
  /* Light gray background color */
  color: #333;
  /* Darker text color */
  padding: 10px 20px;
  /* Padding for spacing */
  font-size: 20px;
  /* Font size */
}

.dashboard-header p {
  padding-left: 40px;
}

.statistics_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.statistics_box {
  color: #f1f1f1;
  font-size: 16px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.statistics_box:nth-child(1) {
  background-color: #0781fa;
}

.statistics_box:nth-child(2) {
  background-color: #ffbf0f;
}

.statistics_box:nth-child(3) {
  background-color: #27a850;
}

.statistics_box:nth-child(4) {
  background-color: #d0273a;
}

.statistics_box:nth-child(5) {
  background-color: #ffbf0f;
}

.statistics_box:nth-child(6) {
  background-color: #50d4c9;
}

/* Container for the customer table */
.customer-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Title styling */
.customer-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
}

/* Table styling */
.customer-table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table headers */
.customer-table-header {
  background-color: #191919;
  color: white;
  text-align: center;
  font-weight: bold;
  border:none;
}

.customer-table-header-cell {
  border:1px solid #ffffff;
  padding: 12px;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Table cells */
.customer-table-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  color: #555;
}

/* Row styling */
.customer-table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.customer-table-row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Hover effect on rows */
.customer-table-row:hover .customer-table-cell {
  color: #333;
}


.icon_box {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-right: 5px;
}

.icon_box i {
  font-size: 32px;
}

.statistics_details p {
  font-weight: bold;
  font-size: 22px;
  margin-top: 5px;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .navDashboardUrl {
    float: left;
  }

  .dashboard_container {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .navDashboardUrl {
    text-align: center;
    float: none;
  }
}

.sum_percentage_box{
  margin:20px 0px;
  height: 250px;
  display: flex;
  justify-content: center;
 align-items: center;
 gap:50px;
  background-color: #ddd;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 400px;
  text-align: center;
}

.card-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card-header .profit p {
  font-size:22px;
  color: #888;
}

.card-header {
  margin: 5px 0;
}



.card-body {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body .order,
.card-body .orderCancel {
  width: 45%;
}

.order i,.orderCompletedPercentage{
  color:#4caf50;
}

.orderCancel i,.orderUnCompletedPercentage{
  color:#f44336;
}

.card-body .order i,
.card-body .orderCancel i {
  margin-bottom: 5px;
}

.card-body h3 {
  margin: 5px 0;
}

.review_card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 800px;
  text-align: center;

}

.review_card .card-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.review_card .card-header p {
  color: #333;
  font-weight: bold;
}

.circle-container {
  display: flex;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#4caf50 0% 0%,#ddd,0% 0%,  #f44336 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
  transition: background 0.3s;
}

.inside-circle {
  width: 70%;
  height: 70%;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
}

.review_card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_card .card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review_card .card-body li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.dot {
  margin:0px 10px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.positive {
  font-size: 18px;
  background-color: #4caf50;
}

.negative {
  font-size: 18px;
  background-color: #f44336;
}

.neutral{
  font-size: 18px;
  background-color: #ddd;
}
.percent {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
}

/** ---- Admin Order ---- **/


.filter {
  margin:15px auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-order-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #000;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button i {
  font-size: 16px;
}

.sorting-form {
  display: flex;
  align-items: center;
}

.form-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

table.order-table {
  margin:50px auto;
  width: 90%;
  border-collapse: collapse;
}

table.order-table th,
table.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table.order-table th {
  background-color: #f2f2f2;
}

table.order-table td button {
  margin-right: 5px;
  padding: 5px 10px;
  border:3px solid black;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

table.order-table td button.view-button {
  background-color: #000;
  transition: 0.5s ease;
}
table.order-table td button.view-button:hover{
  background-color: transparent;
  color:#000;
  border:3px solid #000;
  font-weight: bold;
}

.invoice-button {
  font-size: 0.8rem;
  padding: 5px 5px;
  text-decoration: none;
  color:white;
  background-color: #555;
  border:3px solid #555;
  transition: 0.5s ease;
}

.invoice-button:hover{
  background-color: transparent;
  color:#000;
}

/** ----- Members Page --- */
.flex_active_button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.active-button,.inactive-button{
  cursor: pointer;
  color: #fff;
  padding: 7px 12px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.active-button:hover,.inactive-button:hover{
  opacity: 0.8;
}

.active-button{
  border:2px solid #27a850;
  background-color: #27a850;
}

.inactive-button{
  border:2px solid #d82237;
  background-color: #d82237;
}
.status{
  color:green;
  font-weight: bold;
}



/*Ron*/
table, tr, td, th{
  border:1px solid black;
  border-collapse: collapse;
  padding:5px 5px;
}

/*ADMIN - MEMBER PAGE*/
.member_page_content_table table{
  margin:auto;
  width:90%;
}

.member_page_content_table table th{
  text-align: center;
 background-color: #000;
 color:white;
  text-decoration: none;
}

/*Search Filter*/
.member_page_search_filter{
  margin:10px 0px;
}
.member_page_search_filter form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:100%;
  margin:auto;
  padding:15px 0px;
  border-top:0.5px solid black;
  border-bottom:0.5px solid black;
  text-align: center;
  text-transform: uppercase;
}

.member_page_search_filter .input-text{
  padding:10px;
  width:300px;
  border: 3px solid black;
  outline:none;
  transition:0.5s;
  margin:0 20px 0 0;
  font-weight: 700;
  font-size:16px;
}

.member_page_search_filter .input-text:focus{
  background:rgb(221, 230, 238);
  border-bottom:2px solid black;
  border-top:2px solid black;
}

.member_page_search_filter .select-box{
  padding:10px 20px;  ;
  border:1px solid black;
  border-radius:10px;
  outline:none;
  cursor:pointer;
  transition:0.5s;
  margin:0 20px 0 0;
  width: 200px;
  border:3px solid black;
  background-color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}


.member_page_search_filter button[type=submit]{

  border:3px solid black;
  background-color: #fff;
  border-radius:50%;
  width: 40px;
  height: 40px;
  cursor:pointer;
  transition: 0.3s;
}

.member_page_search_filter button[type=submit]:hover{
  border:1px solid rgb(190, 190, 190);
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}

.order_customer_section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order_customer_section h2{
  margin:20px 0px 10px 0px;
}


/*Result*/
.member_page_result_showing{
  width: 90%;
  margin:auto;
  padding:10px 0;
}

.member_page_content_table table{
  text-align: center;
  text-transform: uppercase;

}

/*Content Table*/
.member_page_content_table th a.sortable {
  /* Default style for sortable headers */
  text-decoration: none;
  color:white;
  padding: 8px 12px;
  display: inline-block;
  position: relative;

}

/* Style for ascending sorted column */
th a.asc {
  color:white;
  font-weight: bold;
}

th a.asc::after {
  content: "▲"; /* Up arrow for ascending */
  position: absolute;
  right: -20px;
  font-size: 12px;
  color:white;
}

/* Style for descending sorted column */
th a.desc {
  color:white;
  font-weight: bold;
}

th a.desc::after {
  content: "▼"; /* Down arrow for descending */
  position: absolute;
  right: -20px;
  font-size: 12px;
  color:white;
}

/* Style for unsorted columns with default arrow */
th a.sortable::after {
  position: absolute;
  right: -20px;
  font-size: 12px;
  color:white;
}

/* Hover effect for all sortable headers */
th a.sortable:hover {
  color: #7b550e;
  text-decoration: underline;
}

/*point style*/
.member_page_point{
  text-align: right;
  font-style: italic;
}

/*status style*/
#member_update_btn{
  color:white;
  background-color: rgb(19, 222, 8);
}
.member_deactivate_btn{
  color:white;
background-color: rgb(147, 147, 3);
}
.member_activate_btn{
  color:white;
  background-color: green;
  }
  .member_suspend_btn{
    color:white;
    background-color: red;
    }
.member_status_pending{
  color: rgb(147, 147, 3);
}
.member_status_suspended {
  color: red;
}
.member_status_active {
  color: rgb(11, 114, 140);
}

/*action button style*/
.member_page_button{
  text-align: center;
}

.member_page_button button.detail_button{
  text-align:center;
  color:black;
  background:rgb(169, 198, 233);
  border:1px solid transparent;
  padding:5px 20px;
  cursor:pointer;
  border-radius:5px;
  transition:.3s;
}

.member_page_button button.detail_button:hover{
  background:rgb(169, 198, 233);
  border:1px solid blue;
  border-radius:3px;
  transition:.3s;
}

/*Paginatopn*/
/* Style the pager container */
.pager {
  display: flex;
  justify-content: center; /* Center the pagination links */
  align-items: center;
  padding: 10px 0;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

/* Style the pager links */
.pager a {
  color: #4c4c4c; /* Default link color */
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ddd;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Change background and text color on hover */
.pager a:hover {
  background-color: #79c8ef;
  color: white;
}

/* Style the active page link */
.pager a.active {
  background-color: #656566;
  color: white;
  cursor: default;
  pointer-events: none; /* Disable clicking on the active link */
}

/* Disable clicking on the first and last links when at the start/end */
.pager a[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

/* Ensure consistent sizing */
.pager a:first-child {
  margin-left: 0;
}

.pager a:last-child {
  margin-right: 0;
}


/*======================================================*/
/*ADMIN - DETAIL PAGE*/
/* Container for the details section */
.details_container {
  width: 80%;
  margin:0px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
/* Profile Picture Section */
.profile_picture {
  margin: 50px auto;
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 200px; /* Set a fixed width */
  height: 200px; /* Set a fixed height to maintain the circle */
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.profile_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the circle without being distorted */
  border-radius: 50%;
}

/* Member Details Section */
.member_details {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

/* Styling for each information block */
.info_block,
.address_block {
  padding-bottom: 10px;
}

/* Styling for each information block */
.info_block p,
.address_block p { 
  padding: 15px 0px; /* Add margin of 10px on top and bottom, and 0px on left and right */
  font-size: 1.1rem;
  color: #333;
}



/* Status and Points Section */
.status_points {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.status_section, .points_section {
  flex: 1;
}

.status_section p, .points_section p {
  font-size: 16px;
  margin: 0;
  color: #555;
}

/* Status Color Classes */
.member_status_pending {
  color: orange;
}

.member_status_suspended {
  color: red;
}

.member_status_active {
  color: green;
}

/* Action Buttons */
.action_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.action_buttons button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.action_buttons button i {
  margin-right: 5px;
}


/*======================*/
/* Flash Message ----------------------------------------------------------- */

#info ,#empty_selection_info{
  position: fixed;
  color: #fff;
  background: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  left: 50%;
  translate: -50% 0;
  top: -70px;
  opacity: 0;
  z-index: 999;
}

#info:not(:empty) {
  animation: fade 5s;
}

@keyframes fade {
    0% { top: -100px; opacity: 0; } 
   10% { top:  70px; opacity: 1; } 
   90% { top:  70px; opacity: 1; } 
  100% { top: -100px; opacity: 0; } 
}

/*--------------------- Soh new add -------------------- */
.container{
  margin-left: 15%;
  padding: 3% 50px;
}
.divline{
  border:solid black 1px;
  margin-bottom: 35px;
  margin-top: 15px;
}

textarea {
  resize: vertical;
}
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



input[type="text"],
input[type="number"],
input[type="file"],
input[type="date"],
textarea,
select {
    width:95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.column {
    margin-top: 35px;
    
}

.form-group{
  padding-bottom: 10px;
}

.btn {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
  
    background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 4px;
}
.close-container {
  text-align: right;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

#attributes-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-top: 20px;
}

.attribute-form {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.options-container{
  width: 60%;
}

.remove-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #ff1a1a;
}

.remove-btn:focus {
  outline: none;
}

.restore-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  
  border-radius: 3px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.restore-btn:hover {
  background-color: #0056b3;
}

.restore-btn:focus {
  outline: none;
}

.successfulMsg{
  margin: 0 0 20px 0;
  color: green;
}

.errorMsg{
  margin: 0 0 20px 0;
  color: red;
}

/*--------------------*/
/* Container */
.member-management-container {
  margin-left: 200px;;
  padding: 20px;
  width: 80%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

/* Title */
.page-title {
  text-align:left;
  margin-bottom: 20px;
}

.page-title h2 {
  font-family: 'Arial', sans-serif;
  color: #000;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-button button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 5px 10px;
  cursor: pointer;
}

.back-button button:hover {
  background-color: #000;
  color: #fff;
}

/* Member Details Table */
.member-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.member-details-table th, .member-details-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
}

.member-details-table th {
  width: 25%;
}


.profile-picture img {

  max-width: 200px;
  border-radius: 50%;
  border: 2px solid #000;
}

/* Form Action Buttons */
.form-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-action-buttons button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  cursor: pointer;
}

.form-action-buttons button:hover {
  background-color: #000;
  color: #fff;
}

/*  admin profile  */
.admin-profile-container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: black;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-picture-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-btn, .reset-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit-btn {
  background-color: #28a745;
  color: white;
}

.reset-btn {
  background-color: #dc3545;
  color: white;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 20px;
}
